name: build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Test
        run: go test -v github.com/swiftcarrot/queryx/schema
      - name: Build
        run: go build -o /usr/local/bin/queryx cmd/queryx/main.go
