name: integration
on: push
jobs:
  postgresql:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.2
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: queryx_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Queryx
        run: go build -o /usr/local/bin/queryx cmd/queryx/main.go
      - name: Queryx Generate
        env:
          QUERYX_ENV: test
        run: |
          cd internal/integration
          queryx db:migrate --schema postgresql.hcl
          queryx generate --schema postgresql.hcl
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: internal/integration/db
      - name: go test
        run: |
          cd internal/integration
          go test -v ./...
  mysql:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.32
        env:
          MYSQL_DATABASE: queryx_test
          MYSQL_ALLOW_EMPTY_PASSWORD: true
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping -uuser_test -pqueryx_test"
          --health-interval 10s
          --health-start-period 10s
          --health-timeout 5s
          --health-retries 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Queryx
        run: go build -o /usr/local/bin/queryx cmd/queryx/main.go
      - name: Queryx Generate
        env:
          QUERYX_ENV: test
        run: |
          cd internal/integration
          queryx db:migrate --schema mysql.hcl
          queryx generate --schema mysql.hcl
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: internal/integration/db
      - name: go test
        run: |
          cd internal/integration
          go test -v ./...

  sqlite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build Queryx
        run: go build -o /usr/local/bin/queryx cmd/queryx/main.go
      - name: Queryx Generate
        env:
          QUERYX_ENV: test
        run: |
          cd internal/integration
          queryx db:migrate --schema sqlite.hcl
          queryx generate --schema sqlite.hcl
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: internal/integration/db
      - name: go test
        run: |
          cd internal/integration
          go test -v ./...
  typescript-postgresql:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.2
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: queryx_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: yarn install
        run: |
          cd internal/integration
          yarn install
      - name: Build Queryx
        run: go build -o /usr/local/bin/queryx cmd/queryx/main.go
      - name: Queryx Generate
        env:
          QUERYX_ENV: test
        run: |
          cd internal/integration
          queryx db:migrate --schema postgresql.hcl
          queryx generate --schema postgresql.hcl
      - name: test
        run: |
          cd internal/integration
          yarn test
