name: windows
on:
  push:
    paths-ignore:
      - "website/**"
jobs:
  sqlite-golang:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Test
        run: |
          go test $(go list ./... | grep -Ev "generator|internal") -race -coverprofile=coverage.txt -covermode=atomic
      - name: Build
        run: go build -o queryx.exe cmd/queryx/main.go
      - name: generate
        env:
          QUERYX_ENV: test
          DATABASE_URL: sqlite:test.sqlite3
        run: |
          cd internal/integration/client
          ..\..\queryx.exe db:migrate --schema sqlite.hcl
          ..\..\queryx.exe db:migrate --schema sqlite.hcl
          ..\..\queryx.exe generate --schema sqlite.hcl
      - name: go test
        run: |
          cd internal/integration/client
          go test -v ./...
